.row
  .col-md-12
    .page-header
      %h1 Monthly Sales
      %p
      %h3= "For the month of " + @report_date.strftime("%B")

      - previous_month = 1.month.ago
      = link_to sales_report_create_path('date[day]'=> previous_month.day, 'date[month]'=> previous_month.month, 'date[year]'=> previous_month.year, :report_type=>"daily"), class: "btn btn-default", "data-toggle" => "tooltip", "data-placement" => "top", title: "Previous Day" do
        %span.glyphicon.glyphicon-chevron-left
        Previous Month

      - next_month = 1.month.from_now
      - if (@report_date.month != Date.current.month)
        = link_to sales_report_create_path('date[day]'=> next_month.day, 'date[month]'=> next_month.month, 'date[year]'=> next_month.year, :report_type=>"daily"), class: "btn btn-default", "data-toggle" => "tooltip", "data-placement" => "top", title: "Previous Day" do
          %span.glyphicon.glyphicon-chevron-right
          Next Month

%table.table.table-condensed.table-hover
  %tr
    %th Specials
    %th Quantity
    %th Item Price
    %th Sold per Item
  - Product.where(:category=>"Special").each do |prod|
    - @total = 0
    - @item_qty = 0
    %tr
      %td= prod.item_name
      - OrderSlip.where("created_at >= ? and created_at < ? and open = ?", @report_date.beginning_of_month, @report_date.end_of_month, false).each do |tab|
        - tab.order_slip_items.each do |tab_item|
          - if (prod.item_name == Product.find(tab_item.product_id).item_name)
            - @item_qty = @item_qty + tab_item.quantity
      %td= @item_qty
      %td= number_with_precision(prod.price, precision: 2)
      - @items_sold = @item_qty * prod.price
      %td= number_with_precision(@items_sold, precision: 2)
    - @total = @total + @items_sold

  %tr
    %th Silog
    %th
    %th
    %th
  - Product.where(:category=>"Silog").each do |prod|
    - @item_qty = 0
    %tr
      %td= prod.item_name
      - OrderSlip.where("created_at >= ? and created_at < ? and open = ?", @report_date.beginning_of_month, @report_date.end_of_month, false).each do |tab|
        - tab.order_slip_items.each do |tab_item|
          - if (prod.item_name == Product.find(tab_item.product_id).item_name)
            - @item_qty = @item_qty + tab_item.quantity
      %td= @item_qty
      %td= number_with_precision(prod.price, precision: 2)
      - @items_sold = @item_qty * prod.price
      %td= number_with_precision(@items_sold, precision: 2)      
    - @total = @total + @items_sold

  %tr
    %th Classic
    %th 
    %th
    %th
  - Product.where(:category=>"Classic").each do |prod|
    - @item_qty = 0
    %tr
      %td= prod.item_name
      - OrderSlip.where("created_at >= ? and created_at < ? and open = ?", @report_date.beginning_of_month, @report_date.end_of_month, false).each do |tab|
        - tab.order_slip_items.each do |tab_item|
          - if (prod.item_name == Product.find(tab_item.product_id).item_name)
            - @item_qty = @item_qty + tab_item.quantity
      %td= @item_qty
      %td= number_with_precision(prod.price, precision: 2)
      - @items_sold = @item_qty * prod.price
      %td= number_with_precision(@items_sold, precision: 2)
    - @total = @total + @items_sold

  %tr
    %th Rice Toppings
    %th 
    %th
    %th
  - Product.where(:category=>"Rice Topping").each do |prod|
    - @item_qty = 0
    %tr
      %td= prod.item_name
      - OrderSlip.where("created_at >= ? and created_at < ? and open = ?", @report_date.beginning_of_month, @report_date.end_of_month, false).each do |tab|
        - tab.order_slip_items.each do |tab_item|
          - if (prod.item_name == Product.find(tab_item.product_id).item_name)
            - @item_qty = @item_qty + tab_item.quantity
      %td= @item_qty
      %td= number_with_precision(prod.price, precision: 2)
      - @items_sold = @item_qty * prod.price
      %td= number_with_precision(@items_sold, precision: 2)
    - @total = @total + @items_sold
  
  %tr
    %th Noodles
    %th 
    %th
    %th
  - Product.where(:category=>"Noodles").each do |prod|
    - @item_qty = 0
    %tr
      %td= prod.item_name
      - OrderSlip.where("created_at >= ? and created_at < ? and open = ?", @report_date.beginning_of_month, @report_date.end_of_month, false).each do |tab|
        - tab.order_slip_items.each do |tab_item|
          - if (prod.item_name == Product.find(tab_item.product_id).item_name)
            - @item_qty = @item_qty + tab_item.quantity
      %td= @item_qty
      %td= number_with_precision(prod.price, precision: 2)
      - @items_sold = @item_qty * prod.price
      %td= number_with_precision(@items_sold, precision: 2)
    - @total = @total + @items_sold

  %tr
    %th Sandwich
    %th 
    %th
    %th
  - Product.where(:category=>"Sandwich").each do |prod|
    - @item_qty = 0
    %tr
      %td= prod.item_name
      - OrderSlip.where("created_at >= ? and created_at < ? and open = ?", @report_date.beginning_of_month, @report_date.end_of_month, false).each do |tab|
        - tab.order_slip_items.each do |tab_item|
          - if (prod.item_name == Product.find(tab_item.product_id).item_name)
            - @item_qty = @item_qty + tab_item.quantity
      %td= @item_qty
      %td= number_with_precision(prod.price, precision: 2)
      - @items_sold = @item_qty * prod.price
      %td= number_with_precision(@items_sold, precision: 2)            
    - @total = @total + @items_sold

  %tr
    %th Drink
    %th 
    %th
    %th
  - Product.where(:category=>"Drink").each do |prod|
    - @item_qty = 0
    %tr
      %td= prod.item_name
      - OrderSlip.where("created_at >= ? and created_at < ? and open = ?", @report_date.beginning_of_month, @report_date.end_of_month, false).each do |tab|
        - tab.order_slip_items.each do |tab_item|
          - if (prod.item_name == Product.find(tab_item.product_id).item_name)
            - @item_qty = @item_qty + tab_item.quantity
      %td= @item_qty
      %td= number_with_precision(prod.price, precision: 2)
      - @items_sold = @item_qty * prod.price
      %td= number_with_precision(@items_sold, precision: 2)
    - @total = @total + @items_sold

  %tr
    %th Cigarettes
    %th 
    %th
    %th
  - Product.where(:category=>"Cigarettes").each do |prod|
    - @item_qty = 0
    %tr
      %td= prod.item_name
      - OrderSlip.where("created_at >= ? and created_at < ? and open = ?", @report_date.beginning_of_month, @report_date.end_of_month, false).each do |tab|
        - tab.order_slip_items.each do |tab_item|
          - if (prod.item_name == Product.find(tab_item.product_id).item_name)
            - @item_qty = @item_qty + tab_item.quantity
      %td= @item_qty
      %td= number_with_precision(prod.price, precision: 2)
      - @items_sold = @item_qty * prod.price
      %td= number_with_precision(@items_sold, precision: 2)
    - @total = @total + @items_sold
 
  %tr
    %th.h3 Total Sales
    %td
    %td
    %td.h3= @total