.row
  .col-md-12
    .page-header
      %h1
        Takeout
        = link_to new_order_slip_path, class: "btn btn-primary btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "New Order Slip" do
          %span.glyphicon.glyphicon-plus
.row
  .col-md-12
    %table.table.table-condensed.table-hover
      %tr
        %th Takeout Number
        %th Type
        %th
      - OrderSlip.where(:order_type => "Takeout").each do |order_slip|
        %tr
          %td= order_slip.takeout_number
          %td= order_slip.takeout_type
          %td
            .btn-group.btn-group-xs
              = link_to order_slip, class: 'btn btn-primary' do
                %span.glyphicon.glyphicon-eye-open
                View              
              %button.btn.btn-primary.dropdown-toggle{'type' => 'button', 'data-toggle' => 'dropdown'}
                %span.caret
                %span.sr-only Toggle Dropdown
              %ul.dropdown-menu{role: 'menu'}
                %li
                  = link_to edit_order_slip_path(order_slip) do
                    %span.glyphicon.glyphicon-edit
                    Edit
                %li
                  = link_to order_slip, :method => :delete, :data => { :confirm => 'Are you sure?' } do
                    %span.glyphicon.glyphicon-trash
                    Destroy
    =# paginate @order_slips, theme: 'twitter-bootstrap-3', pagination_class: "pagination-sm"
