.row
  .col-md-12
    .page-header
      %h1
        Inventory Detail
        = link_to edit_inventory_path(@inventory), class: "btn btn-primary btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Edit inventory" do
          %span.glyphicon.glyphicon-edit
        = link_to inventories_path, class: "btn btn-default btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Inventories index" do
          %span.glyphicon.glyphicon-list
.row
  .col-md-2
    <strong>Item name:</strong>
  .col-md-10
    = @inventory.item_name
.row
  .col-md-2
    <strong>Quantity:</strong>
  .col-md-10
    = @inventory.quantity
.row
  .col-md-2
    <strong>Inventory type:</strong>
  .col-md-10
    = @inventory.inventory_type
