.row
  .col-md-12
    .page-header
      %h1
        User Detail
        = link_to edit_user_path(@user), class: "btn btn-primary btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Edit user" do
          %span.glyphicon.glyphicon-edit
        = link_to users_path, class: "btn btn-default btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "User index" do
          %span.glyphicon.glyphicon-list
.row
  .col-md-2
    %b First name:
  .col-md-10
    = @user.first_name
.row
  .col-md-2
    %b Last name:
  .col-md-10
    = @user.last_name
.row
  .col-md-2
    %b Email:
  .col-md-10
    = @user.email
.row
  .col-md-2
    %b Roles:
  .col-md-10
    = roles_list(@user.roles)
.row
  .col-md-2
    %b Status:
  .col-md-10
    = @user.status
