.row
  .col-md-12
    .page-header
      %h1
        User Detail
        = link_to edit_user_path(@user), class: "btn btn-primary btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Edit user" do
          %span.glyphicon.glyphicon-edit
        = link_to users_path, class: "btn btn-default btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "User index" do
          %span.glyphicon.glyphicon-list

    %table.table.table-striped.table-condensed
      %tr
        %th First Name:
        %td= @user.first_name
      %tr
        %th Last Name:
        %td= @user.last_name
      %tr
        %th Email:
        %td= @user.email
      %tr
        %th Role:
        %td= roles_list(@user.roles)
      %tr
        %th Age:
        %td= @user.age
      %tr
        %th Birthday:
        %td= @user.birthday.strftime("%d %b %y")
      %tr
        %th Address:
        %td= @user.address
      %tr
        %th Contact Number:
        %td= @user.contact_number
      %tr
        %th Status:
        %td= @user.status