= simple_nested_form_for @order_slip, html:{class: 'form-horizontal', role: 'form'} do |f|
  = form_error_notification(f)
  .col-md-5
    = f.input :open#, as: :hidden, input_html: {value: true}
    = f.input :order_type, collection: OrderSlip::TYPES, as: :radio_buttons
    = f.input :table_number, collection: OrderSlip::TABLES
    = f.input :takeout_number
    = f.input :takeout_type, collection: OrderSlip::TAKEOUTS
    = f.input :user_id, collection: User.where(:status => "active").order("first_name asc").all, label_method: "name", label: "Server"
  .col-md-7
    = f.simple_fields_for :order_slip_items do |i|
      .row
        .col-md-6
          = i.input :product_id, collection: Product.order("item_name asc").all, label_method: "item_name", label: "Item Name"
        .col-md-5
          = i.input :quantity, :input_html => { min: 0 }
        .col-md-1
          = i.link_to_remove "", class: "glyphicon glyphicon-remove btn btn-primary"
    = f.link_to_add "", :order_slip_items, class: "glyphicon glyphicon-plus btn btn-primary btn-xs"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit