.row
  .col-md-12
    .page-header
      %h1
        Order Slip Detail
        = link_to edit_order_slip_path(@order_slip), class: "btn btn-primary btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Edit order_slip" do
          %span.glyphicon.glyphicon-edit
        = link_to order_slips_path, class: "btn btn-default btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Order Slips index" do
          %span.glyphicon.glyphicon-list
.row
  .col-md-2
    <strong>Date:</strong>
  .col-md-10
    = @order_slip.order_date
.row
  .col-md-2
    <strong>Order type:</strong>
  .col-md-10
    = @order_slip.order_type
-unless @order_slip.table_number.nil?
  .row
    .col-md-2
      <strong>Table number:</strong>
    .col-md-10
      = @order_slip.table_number
- unless @order_slip.takeout_number.nil?
  .row
    .col-md-2
      <strong>Takeout number:</strong>
    .col-md-10
      = @order_slip.takeout_number
.row
  .col-md-2
    <strong>Server:</strong>
  .col-md-10
    = User.find(@order_slip.user_id).name

- @total = 0
.row
  .col-md-12
    %table.table-striped
      %tr
        %th Name
        %th Quantity
        %th Item Price
        %th Total Price
      - @order_slip.order_slip_items.each do |i|
        %tr
          %td= Product.find(i.product_id).item_name
          %td= i.quantity
          %td= Product.find(i.product_id).price
          - @per_item = (i.quantity * Product.find(i.product_id).price)
          %td= @per_item
          - @total = @total + @per_item
      %tr
        %td= @total
