.row
  .col-md-12
    .page-header
      %h1
        -unless @order_slip.table_number.nil?
          %tr
            %th Table Number:
            %td= @order_slip.table_number
        - unless @order_slip.takeout_number.nil?
          %tr
            %th Takeout Number:
            %td= @order_slip.takeout_number
        = link_to edit_order_slip_path(@order_slip), class: "btn btn-primary btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Edit Order Slip" do
          %span.glyphicon.glyphicon-edit
        = link_to order_slips_path, class: "btn btn-default btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "All Order Slips" do
          %span.glyphicon.glyphicon-list
        - if @order_slip.open?
          = link_to archive_order_slip_path(@order_slip), class: "btn btn-danger", "data-toggle" => "tooltip", "data-placement" => "top", title: "Close" do
            Close
        - if !(@order_slip.open?)    
          = link_to activate_order_slip_path(@order_slip), class: "btn btn-success", "data-toggle" => "tooltip", "data-placement" => "top", title: "Open" do
            Open

    %table.table.table-striped.table-condensed
      %tr
        %th Date:
        %td= @order_slip.created_at.strftime("%d %b %y")
      %tr
        %th Order Type:
        %td= @order_slip.order_type
      %tr
        %th Server:
        %td= User.find(@order_slip.user_id).name
      %tr
        %th Status:
        - if @order_slip.open?
          %td Open
        - else
          %td Closed    

  - @total = 0
  .row
    .col-md-12
      = form_tag split_order_slip_path(@order_slip) do
        .panel.panel-default
          .panel-heading Item Details
          %table.table.table-striped.table-condensed
            %tr
              - if @order_slip.open?
                %td
              %th Timestamp
              %th Name
              %th Quantity
              %th Item Price
              %th Total Price
            - @order_slip.order_slip_items.each do |i|
              %tr
                - if @order_slip.open?
                  %td= check_box_tag "selected[]", i.id
                %td= i.created_at.strftime("%I:%M %p")
                %td= Product.find(i.product_id).item_name
                %td= i.quantity
                %td= number_with_precision(Product.find(i.product_id).price, precision: 2)
                - @per_item = (i.quantity * Product.find(i.product_id).price)
                %td= number_with_precision(@per_item, precision: 2)
                - @total = @total + @per_item
            - if (@order_slip.takeout_type == "Box")
              %tr
                %td Takeout Box:
                - if @order_slip.open?
                  %td
                %td
                %td
                %td
                %td 5.00
                -@total = @total + 5
            %tr
              %td Total:
              - if @order_slip.open?
                %td
              %td
              %td
              %td
              %td= number_with_precision(@total, precision: 2)
            - if @order_slip.open?
              %tr
                %td
                  = submit_tag 'Split', class: "btn btn-primary btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Split"


- if @order_slip.open?

  .row
    .col-md-12
      .panel.panel-default
        .panel-heading Merge with:
        %table.table.table-condensed
          %tr
            %th
            %th Order Type
            %th Table / Takeout Number
          - OrderSlip.where.not(id: @order_slip.id).each do |tab|
            -if tab.open?
              %tr
                %td
                  = link_to merge_order_slip_path(:another_id=>tab.id), :method => :post, class: "btn btn-primary btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Merge" do
                    %span.glyphicon.glyphicon-plus-sign            
                %td= tab.order_type
                - if tab.order_type == "Dine-In"
                  %td= tab.table_number
                - elsif tab.order_type == "Takeout"
                  %td= tab.takeout_number
