.row
  .col-md-12
    .page-header
      %h1
        Product Detail
        = link_to edit_product_path(@product), class: "btn btn-primary btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Edit product" do
          %span.glyphicon.glyphicon-edit
        = link_to products_path, class: "btn btn-default btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Products index" do
          %span.glyphicon.glyphicon-list

    %table.table.table-striped.table-condensed
      %tr
        %th Item Name:
        %td= @product.item_name
      %tr
        %th Category:
        %td= @product.category
      %tr
        %th Price:
        %td= number_with_precision(@product.price, precision: 2)